.App {
    min-block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokedex-1 {
    color:purple;;
}
.pokedex-2 {
    color: orange;
}
.green-text {
    color: green;
}
.red-text {
    color: red;
    transform: scale(.65);
}
.game-result {
    font-size: 2.2rem;
    letter-spacing: 2.5px;
    text-decoration: underline;
}
.pokedex-exp {
    font-size: 1.8rem;
}
.pokegame-container {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    align-items: center;
}
.pokedex-container {
    inline-size: 100%;
    max-inline-size: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    .pokedex-title {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: 1.4px;
    }
}
.pokedex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    flex-wrap: wrap;
}
.pokecard {
    background-color: hsl(210, 40%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    border: 2px solid hsl(194.7, 53.3%, 79%);
    padding-block-end: .8rem;
    border-radius: 8px;
    box-shadow: 5px 10px 10px rgba(149, 149, 149, 0.2);
    cursor: pointer;
    transition: all 75ms ease;
    &:hover {
        transform: scale(1.025);
        background-color: white;
        border: 2px solid hsl(194.7, 73%, 75%);
        box-shadow: 2px 5px 8px rgba(149, 149, 149, 0.2);
    }

    .pokecard-type {
        font-weight: 400;
    }
    
    .pokecard-exp {
        color: hsl(194.7, 60%, 20%);
        font-size: 14px;
        font-weight: 200;
    }
}
