* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: hsl(210 15% 85%);
  font-family: system-ui, sans-serif;
  font-size: 62.5%;
}
.App {
  inline-size: 100%;
  max-inline-size: 800px;
  margin-inline: auto;
  padding: .8rem .6rem;
  font-size: .8rem;
}